<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{>header}}
    <link rel="stylesheet" href="css/style.css">
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <h3>WELCOME TO OUR CAFE</h3>
   <a href="./register"><input type="button" value="Register" class="btn"></a>
   <a href="./login"><input type="button" value="Login" class="btn"></a>
    </div>


</body>
</html>