<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {{>header}}
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <form action="/login" method="post">
    <h3>LOG IN!</h3>
        <h4>Email</h4>
        <input type="email" name="email" id="email" placeholder="Enter registered Email *">
        <h4>Password</h4>
         <span class="password-toggle">
            <input type="password" name="password" id="password" placeholder="Enter your password *">
            <i class="bi bi-eye-slash" id="togglePassword"></i>
        </span>
        <input type="submit" value="LOGIN" class="btn">
    </form>
</div>


<script src="../../public/js/script.js"></script>
<script src="js/script.js"></script>
</body>
</html>